.class1{
    background-color: brown;
    color: beige;
}

#id1{
    background-color: blueviolet;
    color: aliceblue;
}
                                                                                                                          