#id3{
    background-color: blue;
    color: azure;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.class1{
    background-color: brown;
    color: beige;
}

#id1{
    background-color: blueviolet;
    color: aliceblue;
}
                                                                                                                          
